/* App component styles */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  color: #121212;
  font-size: 1.75rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}

/* Main content styles */

.main-content {
  flex: 1;
}

.container {
  width: 67%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  color: #00388f;
}

/* NavBar component styles */

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navLink {
  color: #121212;
  text-decoration: none;
  padding: 0.5rem 1.25rem;
  }

.activeNavLink {
  background-color: #7dc4b6;
}

/* Footer component styles */

#footer {
  font-size: 1.1rem;
}

/* Home component styles */

.banner {
  background-image: url("../images/fabio-fistarol-vkLv1LP_xCw-unsplash.jpg");
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

/* FoodCard component styles */

.food-card {
  background-color: #E7E7E7;
  display: flex;
  align-items: center;
  margin: 0rem 0rem 3rem;
}

.food-image {
  max-width: 30%;
  padding: 0 1rem;
}

.food-image img {
 max-width: 100%;
 }

.food-info {
  text-align: left;
}

/* BookingForm component styles */

#booking-form {
  background-color: #E7E7E7;
  width: 67%;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: left;
}

#booking-form label {
  margin-right: 2rem;
}

#note {
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: aqua;
  border-radius: 10px;
  margin: 0.75rem 0rem;
}

#date, #time, #guests, button {
  font-size: 1em;
  font-family: Arial, sans-serif;
}

/* BookingCard component styles */

.booking-card {
  background-color: lightblue;
  margin: 0rem 0.25rem 3rem;
  text-align: left;
  padding: 0rem 1.5rem;
}

/* Bookings component styles */

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Media query styles */

@media screen and (max-width: 1000px) {
  .App {
    font-size: 1.25rem;
  }

  #footer {
    font-size: 1rem;
  }

  #date, #time, #guests, button {
    font-size: 1em;
  }
}

@media screen and (max-width: 640px) {
  .App {
    font-size: 1rem;
  }

  .food-card {
    display: block;
    margin: 0rem 0rem 2rem;
  }

  .booking-card {
    margin: 0rem 0rem 2rem;
  }
}