/* App component styles */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  color: #121212;
  font-size: 1.75rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 67%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Main content styles */

.main-content {
  flex: 1;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
